:root {
  --secondary-color: #f4d0af;
}

#submit {
  border: none;
  border-radius: 8px;
  padding: 7px 10px;
  background: var(--secondary-color);
  font-family: inherit;
  font-size: 13px;
  user-select: none;
}

#submit:hover {
  filter: brightness(95%);
}

#submit:active {
  filter: brightness(90%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

#editor {
  display: none;
  animation: fadeIn 0.75s;
}

@keyframes expand {
  from {
    width: 0;
    height: 0;
  }
}

#audio-visualizer {
  display: block;
  margin: auto;
  image-rendering: pixelated;
  animation: expand 0.75s;
}

@keyframes expandWidth {
  from {
    width: 0;
  }
}

#audio-player {
  margin-top: 40px;
  width: 100%;
  animation: expandWidth 0.75s;
  filter: invert(100%);
}

#text-editor {
  display: block;
  box-sizing: border-box;
  margin: 10px 0px;
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  animation: expand 0.75s;
  background: var(--secondary-color);
}

#note-display {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.slide-down {
  margin-top: 0 !important;
  transition: margin-top 0.75s;
}

.note {
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  padding: 7px 10px;
  background-color: var(--secondary-color);
  animation: fadeIn 0.75s;
  word-wrap: break-word;
}

.timestamp {
  color: dodgerblue;
  cursor: pointer;
}

.timestamp:hover {
  color: deepskyblue;
  text-decoration: underline;
}

.timestamp:active {
  color: skyblue;
}

@keyframes zoom {
  from {
    transform: scale(0, 0);
  }

  to {
    transform: scale(1, 1);
  }
}

#update-note {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 450px;
  height: 150px;
  background: linear-gradient(180deg, #DFE9F3 0%, #FFFFFF 100%);
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 20%);
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -225px;
  border-radius: 20px;
  padding: 40px;
  user-select: none;
  animation: zoom 0.5s;
}

.yes-no-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 5px;
}

.update-yes, .update-no {
  background: white;
  border-radius: 8px;
  border: black solid 1px;
  padding: 5px 15px;
  font-size: 16px;
}

.update-yes:hover {
  background: #0c8e69;
  color: white;
}

.update-no:hover {
  background: #FF0051;
  color: white;
}

.update-yes:active, .update-no:active {
  filter: brightness(90%);
}