/* Background color to use */
:root {
  --secondary-color: #f4d0af;
}

/* Animation when opening page */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Text editing box style */
#editor {
  display: none;
  animation: fadeIn 0.75s;
}

/* #audio-visualizer {
  display: block;
  margin: auto;
  image-rendering: pixelated;
  animation: expand 0.75s;
} */

/* Animation to make audio player bigger */
@keyframes expandWidth {
  from {
    width: 0;
  }
}

/* Audio player style */
#audio-player {
  margin-top: 40px;
  width: 100%;
  animation: expandWidth 0.75s;
  filter: invert(100%);
}

/* Quill text editor style */
.ql-toolbar {
  margin-top: 10px;
  border: none !important;
  border-bottom: 0.5px solid black !important;
  border-radius: 10px 10px 0 0;
  background-color: var(--secondary-color);
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  color: black !important;
  border-color: black !important;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
  stroke: black !important;
}

.ql-snow .ql-picker.ql-size {
  width: 70px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="8px"]::before {
  content: "8 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="9px"]::before {
  content: "9 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="10px"]::before {
  content: "10 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="12px"]::before {
  content: "12 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label:not([data-value])::before {
  content: "14 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="16px"]::before {
  content: "16 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="20px"]::before {
  content: "20 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="24px"]::before {
  content: "24 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="32px"]::before {
  content: "32 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="42px"]::before {
  content: "42 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="54px"]::before {
  content: "54 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="68px"]::before {
  content: "68 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="84px"]::before {
  content: "84 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="98px"]::before {
  content: "98 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="8px"]::before {
  content: "8 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="9px"]::before {
  content: "9 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="10px"]::before {
  content: "10 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
  content: "12 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item:not([data-value])::before {
  content: "14 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: "16 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content: "20 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
  content: "24 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
  content: "32 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="42px"]::before {
  content: "42 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="54px"]::before {
  content: "54 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="68px"]::before {
  content: "68 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="84px"]::before {
  content: "84 px";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="98px"]::before {
  content: "98 px";
}

#emoji-palette #tab-panel {
  height: 220px;
  max-height: none;
  resize: vertical;
}

.bem {
  margin: 4px 5px 4px 5px !important;
}

#text-editor {
  margin-bottom: 10px;
  border-radius: 0 0 10px 10px;
  background-color: var(--secondary-color);
}

.ql-snow.ql-container {
  border: none !important;
  font-size: 14px;
}

.note .ql-editor {
  padding: 0;
}

#text-editor .ql-editor {
  min-height: 50px;
  height: 500px;
  resize: vertical;
}

blockquote {
  border-left-color: #c2552d !important;
}

pre,
pre span,
code {
  font-family: monospace;
}

/* Submit note button style */
#submit {
  border: none;
  border-radius: 8px;
  padding: 7px 10px;
  background-color: var(--secondary-color);
  font-family: inherit;
  font-size: 13px;
  user-select: none;
}

#submit:hover {
  filter: brightness(95%);
}

#submit:active {
  filter: brightness(90%);
}

/* Container for all notes displayed */
#note-display {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.slide-down {
  margin-top: 0 !important;
  transition: margin-top 0.75s;
}

/* Individual note style */
.note {
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
  background-color: var(--secondary-color);
  animation: fadeIn 0.75s;
}

/* Timestamp style */
.timestamp {
  color: dodgerblue;
  cursor: pointer;
}

.timestamp:hover {
  color: deepskyblue;
  text-decoration: underline;
}

.timestamp:active {
  color: skyblue;
}

@keyframes zoom {
  from {
    transform: scale(0, 0);
  }

  to {
    transform: scale(1, 1);
  }
}

/* Update note popup screen style */
#update-note {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 450px;
  height: 150px;
  background: linear-gradient(180deg, #dfe9f3 0%, #fff 100%);
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 20%);
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -225px;
  border-radius: 20px;
  padding: 40px;
  user-select: none;
  animation: zoom 0.5s;
  z-index: 20;
}

/* Update note button styles */
.yes-no-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 5px;
}

.update-yes,
.update-no {
  background-color: white;
  border-radius: 8px;
  border: black solid 1px;
  padding: 5px 15px;
  font-size: 16px;
}

.update-yes:hover {
  background-color: #0c8e69;
  color: white;
}

.update-no:hover {
  background-color: #ff0051;
  color: white;
}

.update-yes:active,
.update-no:active {
  filter: brightness(90%);
}
