/* Background colors for each html page */
.index-background {
  background-color: #abe188;
}

.type-f-background {
  background-color: #f7ef99;
}

.type-a-background {
  background-color: #f1bb87;
}

.audio-object-background {
  background-color: #f78e69;
}
