.index-background {
  background-color: #ABE188;
}

.type-f-background {
  background-color: #F7EF99;
}

.type-a-background {
  background-color: #F1BB87;
}

.audio-object-background {
  background-color: #F78E69;
}