@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", "Trebuchet MS", sans-serif;
}

body {
  background: linear-gradient(180deg, rgba(0,128,128,1) 0%, rgba(200,147,116,1) 100%);
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

#home, #back {
  width: 30px;
  cursor: pointer;
}

.spacer {
  flex-grow: 1;
}

#path {
  font-size: 35px;
  font-weight: bolder;
  word-spacing: -0.15ch;
}